<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Document</title>
    </head>
    <body>
        <!--header th:include="header :: header"></header>-->
        <!--<h1 th:if="${message != null}" class="flash-message" th:text="${message}">Sorry, we encountered an error</h1>
        <h1 th:if="${message == null}" class="flash-message">Sorry, we encountered an error</h1>-->
        <h1>Sorry, that product could not be found in our database</h1>
    </body>
</html>